<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.firabasefirstexperience">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".kotlin.ResetPassActivity"
            android:parentActivityName=".kotlin.LoginActivity">
        </activity>

        <activity android:name=".kotlin.StartLoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".java.activity.SearchActivity" />

        <activity
            android:name=".kotlin.DiffProfileActivity"
            android:parentActivityName=".java.activity.ChatActivity" />

        <activity
            android:name=".kotlin.SearchActivity"
            android:parentActivityName=".java.activity.ChatActivity" />

        <activity
            android:name=".kotlin.ChatActivity"
            android:parentActivityName=".kotlin.MainActivity" />

        <activity
            android:name=".kotlin.LoginActivity"
            android:parentActivityName=".kotlin.StartActivity" />

        <activity
            android:name=".kotlin.MainActivity"
            android:label="Sup Chat"
            android:parentActivityName=".kotlin.StartActivity" />

        <activity
            android:name=".kotlin.RegisterActivity"
            android:parentActivityName=".kotlin.StartActivity" />

        <activity android:name=".kotlin.StartActivity" />
        <activity android:name=".kotlin.ProfileActivity"/>
    </application>

</manifest>