<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nassdk.supchat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppDelegate"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".presentation.resetpassword.ui.ResetPassActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.diffprofile.ui.DiffProfileActivity"
            android:parentActivityName=".presentation.chat.ui.ConversationActivity" />
        <activity
            android:name=".presentation.searchusers.ui.SearchActivity"
            android:parentActivityName=".presentation.chat.ui.ConversationActivity" />
        <activity
            android:name=".presentation.chat.ui.ConversationActivity"
            android:parentActivityName=".presentation.main.ui.Home" />
        <activity
            android:name=".presentation.main.ui.Home"
            android:label="Sup Chat" />
        <activity android:name=".presentation.profilescreen.ui.ProfileActivity" />
    </application>

</manifest>