<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nassdk.supchat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.nassdk.supchat.presentation.resetpassword.ui.ResetPassActivity"
            android:parentActivityName="com.nassdk.supchat.presentation.login.ui.LoginActivity">
        </activity>

        <activity android:name="com.nassdk.supchat.presentation.StartLoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nassdk.supchat.presentation.diffprofile.ui.DiffProfileActivity"
            android:parentActivityName="com.nassdk.supchat.presentation.chat.ui.ConversationActivity" />

        <activity
            android:name="com.nassdk.supchat.presentation.searchusers.ui.SearchActivity"
            android:parentActivityName="com.nassdk.supchat.presentation.chat.ui.ConversationActivity" />

        <activity
            android:name="com.nassdk.supchat.presentation.chat.ui.ConversationActivity"
            android:parentActivityName="com.nassdk.supchat.presentation.main.ui.MainActivity" />

        <activity
            android:name="com.nassdk.supchat.presentation.login.ui.LoginActivity"
            android:parentActivityName="com.nassdk.supchat.presentation.startscreen.ui.StartActivity" />

        <activity
            android:name="com.nassdk.supchat.presentation.main.ui.MainActivity"
            android:label="Sup Chat"/>

        <activity
            android:name="com.nassdk.supchat.presentation.registerscreen.ui.RegisterActivity"
            android:parentActivityName="com.nassdk.supchat.presentation.startscreen.ui.StartActivity" />

        <activity android:name="com.nassdk.supchat.presentation.startscreen.ui.StartActivity" />
        <activity android:name="com.nassdk.supchat.presentation.profilescreen.ui.ProfileActivity"/>
    </application>

</manifest>